{% extends 'base.html.twig' %}


{% block headline %}Gerturatze berria{% endblock headline %}

{% block content_content %}

    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            {{ render(controller('AppBundle:Arreta:new')) }}
        </div>
    </div>

{% endblock content_content %}

{% block content_sidebar %}
    <div class="row">
        <div class="col-xs-12">
            <label for="txtNan">N.A.N.</label>
            <input id="txtNan" name="txtNan" type="text" value="">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Etxebizitza Zenbakia <span id="txtBizilekuZenbakia"></span></label>
        </div>
    </div>




{% endblock content_sidebar %}
