{% extends 'base.html.twig' %}

{% block head_script %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>


{% endblock %}

{% block content_content %}

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


{% endblock content_content %}

{% block foot_script %}
    {{ parent() }}
    <script type="text/javascript">
        {{ chart(chart) }}
        {{ chart(chart2) }}
    </script>
{% endblock foot_script %}
